.circle-container {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  @media screen and (max-width: 750px) {
    visibility: hidden;
  }
  .outer-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27rem;
    width: 27rem;
    border: 0.2rem solid var(--accent-color);
    border-radius: 50rem;
    position: relative;
    @media screen and (max-width: 1500px) {
      height: 22rem;
      width: 22rem;
    }
    .inner-circle {
      height: 22rem;
      width: 22rem;
      border: 0.3rem solid var(--accent-color);
      border-radius: 40rem;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 1500px) {
        height: 17rem;
        width: 17rem;
      }
      img {
        max-inline-size: 100%;
        block-size: auto;
        z-index: 100;
        height: 22rem;
        @media screen and (max-width: 1500px) {
            height: 15rem;
        }
        @media screen and (max-width: 750px) {
            position: absolute;
            top: 3%;
            visibility: visible;
            height: 10rem;
        }
      }
    }
    .lines {
      display: flex;
      gap: 3rem;
      position: absolute;
      .line {
        height: 33rem;
        width: 0.3rem;
        background-color: var(--accent-color);
        transform: rotate(45deg);
        @media screen and (max-width: 1500px) {
          height: 27rem;
        }
      }
    }
  }
}
