nav {
    display: grid;
    grid-template-columns: 5rem auto 5rem;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.23);
    .block {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            color: white;
            font-size: 2rem;
            cursor: pointer;
        }
        img {
            cursor: pointer;
            height: 3rem;
        }
    }
    .data {
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border-top: none;
    border-bottom: none;
    padding: 0 10rem;
    @media screen and (max-width: 1100px) {
        padding: 0;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        height: 100%;
        list-style-type: none;
        z-index: 1;
        position: relative;
        a {
            text-decoration: none;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid transparent;
            li {
                text-transform: uppercase;
                cursor: pointer;
                font-weight: 500;
                letter-spacing: 0.2rem;
                @media screen and (max-width: 1100px) {
                    font-size: 0.7rem;
                }
                @media screen and (max-width: 600px) {
                    font-size: 0.5rem;
                    letter-spacing: 0.1rem;
                }
            }
        }
    }
    }
}

.underline {
    display: block;
    position: absolute;
    z-index: 0;
    left: 1rem;
    bottom: 0;
    background-color: var(--accent-color);
    width: 19.5%;
    height: calc(4px / 2);
    mix-blend-mode: initial;
    pointer-events: none;
    transition: 0.5s ease-in-out;
    @media screen and (max-width: 1300px) {
        visibility: hidden;
    }   
}